<!-- views/login.ejs -->
<h1><%= __('Login') %></h1>
<form action="/login" method="POST">
    <label for="username"><%= __('Username') %></label>
    <input type="text" name="username" id="username" required>
    <label for="password"><%= __('Password') %></label>
    <input type="password" name="password" id="password" required>
    <button type="submit"><%= __('Login') %></button>
    <% if (message) { %>
        <p><%= message %></p>
    <% } %>
</form>
